# Data Science Tools and Ecosystems

### In this notebook, Data Science Tools and Ecosystems are summarized.

## **Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Development environment open source tools used in data science
- Examples of evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
----------------------
|     SparkSQL       |
|     PixieDust      |
|     TensorFlowLite |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
###### Pedro Lopez